* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#battery, #pulseaudio, #language, #network, #tray, #clock,
#backlight, #scratchpad, #custom-bluetooth, #custom-power, #mode {
    padding: 0 10px;
    margin: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    border: none;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin-right: 5px;
    min-width: 30px;
    border: 1px solid #ffffff;
    border-radius: 0;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #ff0000;
}

#battery.charging,
#battery.plugged {
    color: #00ff00;
}

#battery.critical:not(.charging) {
    background-color: #ff0000;
}

#scratchpad.empty {
    background-color: transparent;
}
